* {
  margin: 0;
  padding: 0;
}

.section-title {
  color: white;
  font-size: 75px;
}

.section-small-title {
  color: white;
  font-size: 45px;
}

.section-text {
  font-size: 25px;
  color: rgb(59, 59, 59);
}

.primary-color {
  color: red;
}

/* banner section styles */
.container {
  width: 80%;
  height: 75vh;
  margin: 50px auto;
}

.banner {
  background-image: url("../image/Banner\ Image.png");
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* 60% off section styles  */
.off {
  width: 50%;
  margin: 100px auto;
}

.off-text {
  text-align: center;
}

.off-text h3 {
  color: black;
  margin-bottom: 50px;
}

.off-text p {
  color: orangered;
  font-size: 25px;
  margin: 30px 0 10px 0;
}

/* Welcome section styles  */
.welcome {
  background-image: url("../image/Vectorrr.png");
  background-repeat: no-repeat;
  padding: 50px 10%;
  border-radius: 20px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-text {
  width: 50%;
}

.welcome-text p {
  color: aliceblue;
  margin: 30px 0;
}

/* Comming Soon section styles  */
.comming-soon-con {
  width: 80%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.comming-soon-con h3 {
  font-size: 25px;
}

.comming-soon-con h1 {
  color: black;
  margin: 30px 0;
}


.comming-soon-con-img {
  padding: 50px;
  border: 10px solid red;
  border-radius: 50%;
}

.comming-soon-con-img img {
  width: 100%;
}

.text-m {
  margin: 20px 0 30px 0;
}

/* Portfolio Section styles  */
.portfolio-con {
  width: 80%;
  margin: 30px auto;
}

.portfolio {
  margin: 150px 0;
}

.portfolio-text {
  width: 75%;
  margin-bottom: 50px;
}

.portfolio-text h1 {
  color: black;
  margin: 30px 0;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-img img {
  width: 30%;
  border-radius: 20px;
}

.portfolio-img img:hover {
  border: 3px solid lightcoral;
}

/* Subscribe section styles  */
.subscribe {
  background-color: rgb(244, 214, 219);
  border-radius: 20px;
  padding: 80px 200px;
  text-align: center;
}

.subscribe h1 {
  color: black;
}

.subscribe p {
  margin: 30px 0 50px 0;
}

.email {
  border: none;
  border-radius: 30px 0 0 30px;
  padding: 10px 50px;
  font-size: 25px;
}

.btn {
  color: white;
  background-color: red;
  border: none;
  border-radius: 0 30px 30px 0;
  padding: 10px 20px;
  font-size: 25px;
}

/* Footer section styles  */
.footer {
  padding: 100px 10%;
  background-color: black;
  color: white;
  margin-top: 200px;
}

hr {
  margin: 50px 0;
}

.f-text {
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
}

.f-text p {
  font-size: 25px;
  margin-top: 20px;
}

.f-icon {
  display: flex;
  align-items: center;
  justify-content: center;

}

.f-icon img {
  margin-right: 10px;
}

.f-img {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.f-footer {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}