* {
  margin: 0;
  padding: 0;
}

.section-title {
  color: white;
  font-size: 75px;
}

.section-small-title {
  color: white;
  font-size: 45px;
}

.section-text {
  font-size: 25px;
  color: rgb(59, 59, 59);
}

.primary-color {
  color: red;
}

/* banner section styles */
.container {
  width: 80%;
  height: 75vh;
  margin: 50px auto;
}

.banner {
  background-image: url("../image/Banner\ Image.png");
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* 60% off section styles  */
.off {
  width: 50%;
  margin: 100px auto;
}

.off-text {
  text-align: center;
}

.off-text h3 {
  color: black;
  margin-bottom: 50px;
}

.off-text p {
  font-size: 25px;
  margin: 30px 0 10px 0;
}